{% extends 'base.html' %}
{% load humanize %}

{% block title %}
  {{ type.title }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a class="pink-text" href="{% url 'index' %}">種類</a></li>
  <li class="breadcrumb-item active text-dark">{{ type.title }}</li>
{% endblock %}

{% block content %}
  <div class="container">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">商品番号</th>
          <th scope="col">品名</th>
          <th scope="col">規格</th>
          <th scope="col">通常価格 (税込)</th>
          <th scope="col">枚数</th>
          <th scope="col">写真	</th>
        </tr>
      </thead>
      {% for product in products %}
        <tbody>
          <tr>
            <td>{{ product.product_num }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.standart }}</td>
            <td>¥ {{ product.price| intcomma }}</td>
            <td>{{ product.quantity }}</td>
            <td>
              <a class="btn btn-outline-pink btn-sm" href="{% url 'product' product.product_num %}" role="button">見る</a>
            </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
    </div>
{% endblock %}