.navbar-brand {
  font-family: 'Rochester', cursive;
  color: #de1944;
}

.modal-dialog {
    max-width: 75%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.image {
  max-width: 100%;
  height: auto;
}

.button_class {
    top: 5px;
    left: 5px;
}

.modal-body {
    display:inline-block;
}

#custom-button {
  font-size: 4vmin;
  position: absolute;
  background: transparent;
  border-style: none;
  top: 1vw;
  right:2%;
  color: white;
}

#full-image {
  display:inline-block;
}